<!DOCTYPE html>
<html>
	{{ partial "head.html" . }}
	
	<body>
		{{ partial "background.html" . }}

		{{ partial "header.html" . }}

		<div class="content">
         <h2 style="margin-bottom: 32px;">Projects</h2>
         <div class="projects-container-div">
            <div class="project-item-div any-button">
               <a class="nostyle" href="/projects/mobile">
                  <img src="/images/MobileApplications.png"/>
                  <div class="project-item-text-container">
                     <h3>Mobile Applications</h3>
                  </div>
               </a>
            </div>
            <div class="project-item-div any-button">
               <a class="nostyle" href="/projects/web">
                  <img src="/images/WebApplications.png"/>
                  <div class="project-item-text-container">
                     <h3>Web Applications</h3>
                  </div>
               </a>
            </div>
            <div class="project-item-div any-button">
               <a class="nostyle" href="/projects/competitions">
                  <img src="/images/Hackathons.png"/>
                  <div class="project-item-text-container">
                     <h3>Competitions / Hackathons</h3>
                  </div>
               </a>
            </div>
            <div class="project-item-div any-button">
               <a class="nostyle" href="/projects/open-source">
                  <img src="/images/OpenSource.png"/>
                  <div class="project-item-text-container">
                     <h3>Open Source</h3>
                  </div>
               </a>
            </div>
         </div>
      </div>
	</body>
</html>
