<!DOCTYPE html>
<html>
	{{ partial "head.html" . }}
	
	<body>
		<div class="top">
			<div style="position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; overflow: hidden; opacity: 0.5; z-index: -5;">
				<div class="full-cover-div" style="background-image: url('/images/Background.png'); background-position: center top; 
					background-size: cover; 
					background-repeat: no-repeat; 
					height: 100%; 
					position: absolute;
					top: 0px; bottom: 0px; left: 0px; right: 0px;">
				</div>
			</div>

			{{ partial "header.html" . }}

			<div class="content-header">
				<h3 style="color: #A4ACB7;"><a class="nostyle" href="/projects">Projects</a> / <a class="nostyle" href="/projects/web">Web Applications</a></h3>
				<h2>{{ .Title }}</h2>
			</div>
		</div>

		{{ block "main" . }}{{ end }}
	</body>
</html>
