<div class="full-cover">
	<div class="full-cover-image"></div>
</div>

<style type="text/css">
	.full-cover {
		position: fixed; 
		top: 0px; 
		bottom: 0px; 
		left: 0px; 
		right: 0px; 

		overflow: hidden; 
		opacity: 0.5; 

		z-index: -5;
	}

	.full-cover-image {
		background-image: url('/images/Background.png'); 
		background-position: center top; 
		background-size: cover; 
		background-repeat: no-repeat; 

		height: 100%; 

		position: absolute;
		top: 0px; 
		bottom: 0px; 
		left: 0px; 
		right: 0px;
	}
</style>