<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>George Berdovskiy | {{ .Title }}</title>

  <meta name="description" content="My name is George, and I'm an undergraduate computer science student at the University of California, Davis. Some of my interests include software development, computational biology, and machine learning. Some of my more recent projects include Intellibio (www.intellibio.net), Conjugate (https://conjugatespanish.app), and Shelter Finder (www.shelterfinder.org).">

  {{ $css := "css/style.css" | relURL }}
  <link rel="stylesheet" href="{{ $css }}">

  {{ $favicon := "images/favicon.png" | relURL }}
  <link rel="icon" type="image/x-icon" href="{{ $favicon }}">
  <link rel="apple-touch-icon" href="{{ $favicon }}">
</head>