<!DOCTYPE html>
<html>
   {{ partial "head.html" . }}

   <body>
      {{ partial "background.html" . }}

      <div style="display: flex; flex-direction: column; min-height: 100%">
      	{{ partial "header.html" . }}

         <div class="split-flex-container">
            <div class="split-flex-item landing" style="background-color: white;">
               <h2 class="landing-h2">Hello!</h2>
               <p>My name is George. Some of my interests include <b>software development, compilers, and programming languages.</b>
               </p>
               <a class="any-button standard-blue" href="/projects">
               Explore Projects
               </a>
            </div>
            <div class="split-flex-item half-height">
               <a class="any-button" href="/projects/web/conjugate">
                  <img class="landing-mockup" src="/images/ConjugateMockup.png" />
               </a>
            </div>
         </div>
      </div>
   </body>
</html>
