<!DOCTYPE html>
<html>
   {{ partial "head.html" . }}

   <body>
      {{ partial "background.html" . }}

      <div style="display: flex; flex-direction: column; min-height: 100%">
      	{{ partial "header.html" . }}

         <div class="split-flex-container">
            <div class="split-flex-item landing" style="background-color: white;">
               <h2 class="landing-h2">Hello!</h2>
               <p>My name is George, and I'm an undergraduate computer science student at the <b>University of California, Davis.</b> Some of my interests include <b>software development, computational biology, and machine learning.</b>
               </p>
               <a class="any-button standard-blue" href="/projects">
               Explore Projects
               </a>
            </div>
            <div class="split-flex-item half-height">
               <img src="/images/Portrait.jpg" class="portrait"/>
               <a class="any-button" href="/projects/web/conjugate">
                  <img class="landing-mockup" src="/images/ConjugateMockup.png" />
               </a>
            </div>
         </div>
      </div>
   </body>
</html>
