<div class="projects-container-div">
	<div class="project-item-div any-button">
		<a class="nostyle" href="/projects/competitions/nasa-spaceapps-2020">
			<img src="/images/thumbnails/NasaSpaceApps2020Thumbnail.png"/>

			<div class="project-item-text-container">
				<h3>NASA Space Apps 2020</h3>
			</div>
		</a>
	</div>

	<div class="project-item-div any-button">
		<a class="nostyle" href="/projects/competitions/scry">
			<img src="/images/thumbnails/DeveloperWeek2021Thumbnail.png"/>
			
			<div class="project-item-text-container">
				<h3>DeveloperWeek 2021</h3>
			</div>
		</a>
	</div>

	<div class="project-item-div any-button">
		<a class="nostyle" href="/projects/competitions/asdi">
			<img src="/images/thumbnails/ASDIThumbnail.png"/>
			
			<div class="project-item-text-container">
				<h3>Amazon Sustainability Data Initiative 2022</h3>
			</div>
		</a>
	</div>
</div>