<h3 style="margin-bottom: 8px;">
	<div class="section-icon-container">
		{{ if eq (.Get "kind") ("description") }}
		    <img src="/images/icons/Description.svg"/>
		{{ else if eq (.Get "kind") ("desktop screenshots") }}
		    <img src="/images/icons/Desktop.svg"/>
		{{ end }}
	</div>
	
	{{ .Get "title" }}
</h3>

<style type="text/css">
	.section-icon-container {
		width: 32px;
		height: 24px;

		display: inline-block;
		vertical-align: bottom;
		position: relative;

		background-color: #e8e8e8;
		border-radius: 6px;

		margin-right: 4px;
	}

	.section-icon-container img {
		width: 100%;
		padding: 4px;

		position: absolute;
		top: -10px;
	}
</style>