<div class="projects-container-div">
    <div class="project-item-div any-button">
       <a class="nostyle" href="/projects/mobile/calculations">
          <img src="/images/thumbnails/CalculationsThumbnail.png"/>
          <div class="project-item-text-container">
             <h3>Vet Calculations</h3>
          </div>
       </a>
    </div>
    <div class="project-item-div any-button">
       <a class="nostyle" href="/projects/mobile/sedations">
          <img src="/images/thumbnails/SedationsThumbnail.png"/>
          <div class="project-item-text-container">
             <h3>Veterinary Sedations</h3>
          </div>
       </a>
    </div>
    <div class="project-item-div any-button">
       <a class="nostyle" href="/projects/mobile/cri">
          <img src="/images/thumbnails/CRIThumbnail.png"/>
          <div class="project-item-text-container">
             <h3>Veterinary CRI</h3>
          </div>
       </a>
    </div>
    <div class="project-item-div any-button">
       <a class="nostyle" href="/projects/mobile/anesthesia">
          <img src="/images/thumbnails/AnesthesiaThumbnail.png"/>
          <div class="project-item-text-container">
             <h3>Veterinary Anesthesia</h3>
          </div>
       </a>
    </div>
    <div class="project-item-div any-button">
       <a class="nostyle" href="/projects/mobile/pbsoc">
          <img src="/images/thumbnails/PBSOCThumbnail.png"/>
          <div class="project-item-text-container">
             <h3>PBSOC</h3>
          </div>
       </a>
    </div>
 </div>
</div>