<h3 style="margin-bottom: 8px; margin-top: 16px;">
	<div class="section-icon-container">
		{{ $kind := .Get "kind" }}

		{{ if (eq $kind "description") }}
		    <img src="/images/icons/Description.svg"/>
		{{ else if (eq $kind "code") }}
			<img src="/images/icons/Code.svg"/>
		{{ else if (eq $kind "desktop") }}
		    <img src="/images/icons/Desktop.svg"/>
		{{ else if (eq $kind "mobile") }}
			<img src="/images/icons/Mobile.svg"/>
		{{ else if (eq $kind "video") }}
			<img src="/images/icons/Video.svg"/>
		{{ end }}
	</div>
	
	{{ .Get "title" }}
</h3>
