<div class="projects-container-div">
	<div class="project-item-div any-button">
		<a class="nostyle" href="conjugate.html">
			<img src="/images/thumbnails/ConjugateThumbnail.jpg"/>

			<div class="project-item-text-container">
				<h3>Conjugate</h3>
			</div>
		</a>
	</div>

	<div class="project-item-div any-button">
		<a class="nostyle" href="shelterfinder.html">
			<img src="/images/thumbnails/ShelterFinderThumbnail.jpg"/>
			
			<div class="project-item-text-container">
				<h3>Shelter Finder</h3>
			</div>
		</a>
	</div>
</div>