<div class="projects-container-div">
	<div class="project-item-div any-button">
		<a class="nostyle" href="/projects/web/big-wheelbarrow">
			<img src="/images/thumbnails/BigWheelbarrow.png"/>
			
			<div class="project-item-text-container">
				<h3 class="margin-bottom-quarter">Big Wheelbarrow</h3>
				<div class="date-tag">2022</div>
			</div>
		</a>
	</div>

	<div class="project-item-div any-button">
		<a class="nostyle" href="/projects/web/conjugate">
			<img src="/images/thumbnails/ConjugateThumbnail.jpg"/>

			<div class="project-item-text-container">
				<h3 class="margin-bottom-quarter">Conjugate</h3>
				<div class="date-tag">2020 -</div>
			</div>
		</a>
	</div>

	<div class="project-item-div any-button">
		<a class="nostyle" href="/projects/web/shelter-finder">
			<img src="/images/thumbnails/ShelterFinderThumbnail.jpg"/>
			
			<div class="project-item-text-container">
				<h3 class="margin-bottom-quarter">Shelter Finder</h3>
				<div class="date-tag">2018 - 2021</div>
			</div>
		</a>
	</div>
</div>